html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* global classes */
a {
  text-decoration: none;
}

/* navbar */
.nav {
  background-color: #fff;
  padding: 0 2rem;
  height: 0; /* creates collapsible menu */
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
}
