html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

:root {
  --nav-hover_color: rgb(227, 225, 225);
  --font-color: rgb(71, 71, 71);
}

/* global classes */
a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* wraps elements into columns */
}

/* navbar */
.nav {
  background-color: #fff;
  padding: 0 2rem;
  height: 0; /* creates collapsible menu */
  min-height: 10vh; /* hides nav elements at mq <750px */
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 85%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.3rem 0;
  color: var(--font-color);
}

.nav .toggle-collapse .toggle-icons {
  font-size: 1.4rem;
}

.collapse {
  height: 30rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.6s;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--nav-hover_color);
  opacity: 1;
  font-weight: 900;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block; /* enables padding */
  font-weight: 900;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
  opacity: 0.9;
  transition: 0.3s;
}

.nav .social i:hover {
  color: var(--nav-hover_color);
  opacity: 1;
}

/* viewport <= 750px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .nav-menu {
    text-align: center;
  }

  .nav .nav-items,
  .social {
    text-align: right;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}

/* main content */
main .site-title {
  height: 30vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 5rem;
  text-align: center;
}

main .site-title .site-background .site-background-name {
  font-size: 28px;
}

main .site-title .site-background .site-background-intro {
  font-size: 17px;
  color: var(--font-color);
}

main .site-portfolio {
  height: 50vh;
  display: flex;
  justify-content: center;
}
