html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

:root {
  --nav-hover_color: rgb(227, 225, 225);
}

/* global classes */
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* wraps elements into columns */
}

/* navbar */
.nav {
  background-color: #fff;
  padding: 0 2rem;
  height: 0; /* creates collapsible menu */
  min-height: 40vh;
  overflow: hidden;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--nav-hover_color);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block; /* enables padding */
}

.nav .social {
  padding: 1.4rem 0;
}
